@import url(../../Styles/colors.css);
@import url(../../Styles/global.css);
.bgImage {
  position: relative;
}

.image {
  width: 99vw;
  height: 50vw;
  opacity: 0.75;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.brandHeader {
  text-align: center;
  margin-bottom: 20px;
}

.brandLogo {
  width: 60px;
}

.brandName {
  font-size: 1.5rem;
  margin-top: 10px;
}

.forgotPasswordForm {
  margin-top: 10px;
  font-size: 1.1em;
}

.customThemeButton {
  background-color: hsl(var(--jasperorange));
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-size: 1.2em;
}

.customThemeButton:hover {
  background-color: #efb385;
}
