/* @import url(./global.css); */
:root {
  --jasperorange: 25.94, 74.16%, 59.02%;
  --black: 0, 100%, 0%;
  --charcoal: 212.31, 27.27%, 28.04%;
  --white: 0, 100%, 100%;
  --cultured: 240, 3%, 94%;
  --silversand: 204, 8%, 76%;
}
