@import url(../../Styles/colors.css);
@import url(../../Styles/global.css);
/* .main-footer {
  background-color: hsl(var(--cultured));
  display: flex;
  column-gap: 10em;
} */
.logo-and-links {
  background-color: hsl(var(--cultured));
  display: flex;
}
.logo-and-icons {
  max-width: 47.3em;
  padding-inline-start: 14em;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  column-gap: 2.5em;
}
.footer-links {
  padding-block-start: 2em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  color: hsl(var(--charcoal));
  width: 100vw;
}

.footer-links h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 800;
  padding-block-end: 1.4em;
}
/* 
.footer-contacts,
.footer-categories,
.footer-policy {
} */

.policy-list,
.categories-list,
.contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: space-evenly;
}

.payment-logos {
  background-color: hsl(var(--cultured));
  display: flex;
  justify-content: end;
  padding-inline-end: 3em;
  column-gap: 2em;
  padding-block-end: 4em;
}
